{% extends 'base.html' %}


{% block left %}
    {% block before_main_left %}{% endblock %}
    <div class="panel panel-default">
        <ul class="nav navbar-nav">
            <li class="">
                <form method="post" action="upload_data" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="myfile"/>
                    <br/>
                    <button type="submit">上传并写入到数据库</button>
                </form>
            </li>
        </ul>
    </div>

{% endblock %}
